@keyframes fadePulse {
    0% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
    }
}
.fadePulse {
    animation: fadePulse 1s infinite;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: black;
}

.hover-underline-animation::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.lyricBtn:active i {
    transform: translateY(-5px);
}

.lyricBtn i {
    transition: 0.3s;
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fade {
    animation: fade 0.5s;
}
/* Hide the scrollbar for all elements */
::-webkit-scrollbar {
    display: none;
}

/* Optional: ensure smooth scrolling even without scrollbar */
html {
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-behavior: smooth;
}
@keyframes carousel {
    0% {
        /* transform: scale(0.8); */
        opacity: 0;
        transform: translate(100%);
    }
    50% {
        /* transform: scale(1); */
        opacity: 1;
        transform: translate(0%);
    }
    100% {
        /* transform: scale(0.8);
         */
        transform: translate(-100%);

        opacity: 0;
    }
}
.carousel {
    display: flex;
    overflow: hidden;
    animation: carousel 5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
